{% extends 'layouts/main.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <h3>Register </h3>
    <form method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.code.label }} {{ form.code }}<br>
            {% if form.code.errors %}<span class="danger">{{ form.code.errors }}</span>{% endif %}
        </p>
        <p>
            {{ form.password.label }} {{ form.password }}<br>
            {% if form.password.errors %}<span class="danger">{{ ','.join(form.password.errors) }}</span>{% endif %}
        </p>
        <p>
            {{ form.re_password.label }} {{ form.re_password }}<br>
            {% if form.re_password.errors %}<span class="danger">{{ ','.join(form.re_password.errors) }}</span>{% endif %}
        </p>
        <input type="submit" value="Register"/>
        <p style="padding-top: 1em;">Already have an account? <a href="{{ url_for('users.login') }}">Login</a></p>
    </form>
{% endblock %}
