{% extends 'layouts/main.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <h3>Register <a href="{{ url_for('home') }}" title="Back to homepage">Go Back</a></h3>
    <form method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.code.label }} {{ form.code }}<br>
            {% if form.code.errors %}<span class="danger">{{ form.username.errors }}</span>{% endif %}
        </p>
        <p>
            {{ form.password.label }} {{ form.password }}<br>
            {% if form.password.errors %}<span class="danger">{{ form.username.errors }}</span>{% endif %}
        </p>
        <p>
            {{ form.re_password.label }} {{ form.re_password }}<br>
            {% if form.re_password.errors %}<span class="danger">{{ form.username.errors }}</span>{% endif %}
        </p>
        <input type="submit" value="Register"/>
        <p><a href="{{ url_for('login') }}">Login</a></p>
    </form>
{% endblock %}
