{% extends 'layouts/main.html' %}
{% block title %}Movie Quiz{% endblock %}
{% block content %}

<div>
  <h2>Movie Quiz</h2>
    <p>
      The movie questions are based on TOP 250 MOVIES ON THE IMDB.
    </p>
    <a href="{{ url_for('quiz.home') }}" class="btn btn-secondary btn-lg">
      Take a Movie Quiz
    </a>

    <table style="margin-top: 1em;" class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for score in scores %}
          <tr>
            <td>{{ score.user.username }} </td>
            <td>{{ score.score }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav>
      <ul class="pagination">
        {% if prev_url %}
          <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" aria-disabled="true">Previous</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{page}}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {% if next_url %}
          <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" aria-disabled="true">Next</a></li>
        {% endif %}
      </ul>
    </nav>
</div>

{% endblock %}
