{% extends 'layouts/main.html' %}
{% block title %}Movie Quiz{% endblock %}
{% block content %}

<div>
  <h2>Movie Quiz</h2>
    <a href="{{ url_for('quiz.home') }}">
      <button>
        Take a Movie Quiz
      </button>
    </a>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for score in scores %}
          <tr>
            <td>{{ score.user.username }} </td>
            <td>{{ score.score }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if prev_url %}
      <a href="{{ prev_url }}"> Previous </a>
    {% else %}
      <span> Previous </span>
    {% endif %}
    {% if next_url %}
      <a href="{{ next_url }}"> Next </a>
    {% else %}
      <span> Next </span>
    {% endif %}

    <ul>
      <li>
        <a href="{{ url_for('users.logout') }}">Logout</a>
      </li>
    </ul>
</div>

{% endblock %}
